{% extends 'base.html.twig' %}

{% block title %}Appliance index{% endblock %}

{% block body %}
    <h1>Appliance index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Icon</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for appliance in appliances %}
            <tr>
                <td>{{ appliance.id }}</td>
                <td>{{ appliance.name }}</td>
                <td>{{ appliance.icon }}</td>
                <td>
                    <a href="{{ path('appliance_show', {'id': appliance.id}) }}">show</a>
                    <a href="{{ path('appliance_edit', {'id': appliance.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('appliance_new') }}">Create new</a>
{% endblock %}
