{% extends 'base.html.twig' %}

{% block title %}MySay index{% endblock %}

{% block body %}
    <h1>MySay index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Entity</th>
                <th>EntityId</th>
                <th>Text</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for my_say in my_says %}
            <tr>
                <td>{{ my_say.id }}</td>
                <td>{{ my_say.entity }}</td>
                <td>{{ my_say.entityId }}</td>
                <td>{{ my_say.text }}</td>
                <td>
                    <a href="{{ path('my_say_show', {'id': my_say.id}) }}">show</a>
                    <a href="{{ path('my_say_edit', {'id': my_say.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('my_say_new') }}">Create new</a>
{% endblock %}
