{% extends 'base.html.twig' %}

{% block title %}Instruction index{% endblock %}

{% block body %}
    <h1>Instruction index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Sort</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for instruction in instructions %}
            <tr>
                <td>{{ instruction.id }}</td>
                <td>{{ instruction.name }}</td>
                <td>{{ instruction.sort }}</td>
                <td>
                    <a href="{{ path('instruction_show', {'id': instruction.id}) }}">show</a>
                    <a href="{{ path('instruction_edit', {'id': instruction.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('instruction_new') }}">Create new</a>
{% endblock %}
