{% extends 'base.html.twig' %}

{% block title %}RecipeList index{% endblock %}

{% block body %}
    <h1>RecipeList index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for recipe_list in recipe_lists %}
            <tr>
                <td>{{ recipe_list.id }}</td>
                <td>{{ recipe_list.date ? recipe_list.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('recipe_list_show', {'id': recipe_list.id}) }}">show</a>
                    <a href="{{ path('recipe_list_edit', {'id': recipe_list.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('recipe_list_new') }}">Create new</a>
{% endblock %}
