{% extends 'base.html.twig' %}

{% block title %}TaxonomyType index{% endblock %}

{% block body %}
    <h1>TaxonomyType index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Value</th>
                <th>Label</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for taxonomy_type in taxonomy_types %}
            <tr>
                <td>{{ taxonomy_type.id }}</td>
                <td>{{ taxonomy_type.value }}</td>
                <td>{{ taxonomy_type.label }}</td>
                <td>
                    <a href="{{ path('taxonomy_type_show', {'id': taxonomy_type.id}) }}">show</a>
                    <a href="{{ path('taxonomy_type_edit', {'id': taxonomy_type.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('taxonomy_type_new') }}">Create new</a>
{% endblock %}
