{% extends 'base.html.twig' %}

{% block title %}Moderation index{% endblock %}

{% block body %}
    <h1>Moderation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Entity</th>
                <th>Entity_id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for moderation in moderations %}
            <tr>
                <td>{{ moderation.id }}</td>
                <td>{{ moderation.entity }}</td>
                <td>{{ moderation.entityId }}</td>
                <td>
                    <a href="{{ path('moderation_show', {'id': moderation.id}) }}">show</a>
                    <a href="{{ path('moderation_edit', {'id': moderation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('moderation_new') }}">Create new</a>
{% endblock %}
